.faq {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  /* background: url("https://w.wallhaven.cc/full/od/wallhaven-od1dp5.jpg"); */
  /* background: rgb(64, 0, 255); */
  /* background: linear-gradient(
    135deg,
    rgba(64, 0, 255, 0.5) 0%,
    rgba(150, 59, 255, 0.5) 15%,
    rgba(212, 102, 255, 0.5) 32%,
    rgba(183, 0, 255, 0) 74%
  ); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Syne Medium", sans-serif;
  font-weight: 400;
  /* Set color to be inverted based on background*/
  color: #fff;
}

.faq-heading {
  font-family: "Base Neue Bold";
  font-size: 3.5rem;
  font-weight: bold;
}
.faq-container {
  border-radius: 30px;
  /* background: rgba(0, 0, 0, 0.21); */
  background: linear-gradient(
    145deg,
    /* #885d5f 0%, */ rgba(249, 208, 191, 0.8183474073223039) 0%,
    rgb(129, 68, 78) 8%,
    #783646 14%,
    #783b50 20%,
    #540015 40%,
    transparent 45%
  );
  background: linear-gradient(
    145deg,
    rgb(129, 68, 78) 12%,
    #783646 14%,
    #783b50 20%,
    #540015 40%,
    rgba(255, 255, 255, 0) 65%
  );
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
}
.faq-card-container {
  padding: 0;
  margin: 0;
  border-radius: 30px;
  background-size: 0;
}

/* .faq-card-container:hover {
  background-color: #000;
} */

.faq-question {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.faq-answer {
  font-size: 1.3em;
  overflow: hidden;
  transition: all 0.2s ease;
}

.faq-icon {
  font-size: 1em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.faq-icon-up {
  transform: rotate(180deg);
}

.faq-icon-down {
  transform: rotate(0deg);
}

@media screen and (max-width: 1300px) {
  .faq-container {
    border-radius: 30px;
    backdrop-filter: none;
  }

  .faq-container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .faq-container {
    border-radius: 0;
    padding: 0;
  }
  .faq-heading {
    font-size: 2.5rem;
  }
  .faq-container {
    width: 100%;
  }
}
