@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist VF";
  src: url("../assets/fonts/GeistVF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Base Neue Black";
  font-style: normal;
  font-weight: normal;
  src: local("Base Neue Black"),
    url("../assets/fonts/BaseNeue/BaseNeue-Black.woff") format("woff");
}

@font-face {
  font-family: "Base Neue Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Base Neue Bold"),
    url("../assets/fonts/BaseNeue/BaseNeue-Bold.woff") format("woff");
}

@font-face {
  font-family: "Base Neue Expanded Black";
  font-style: normal;
  font-weight: normal;
  src: local("Base Neue Expanded Black"),
    url("../assets/fonts/BaseNeue/BaseNeue-ExpandedBlack.woff") format("woff");
}

@font-face {
  font-family: "Base Neue Super Expanded Black";
  font-style: normal;
  font-weight: normal;
  src: local("Base Neue Super Expanded Black"),
    url("../assets/fonts/BaseNeue/BaseNeue-SuperExpandedBlack.woff")
      format("woff");
}

@font-face {
  font-family: "Syne Medium";
  src: url("../assets/fonts/Syne-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Syne SemiBold";
  src: url("../assets/fonts/Syne-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #0a0a0a;
  --foreground: #c4cdd2;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Geist VF", sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.skeleton {
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 2s ease infinite;
  mask-image: url(../assets/Footer/excel.svg);
}

.heart {
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>');
  mask-size: "cover";
  mask-repeat: "no-repeat";
  mask-position: "center";
  display: inline-block;
}

.btn-hover {
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-size: 300% 100%;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover.color-1 {
  background-image: linear-gradient(
    to right,
    #865aec,
    #b57df4,
    #7650f1,
    #b361f1
  );
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}

@media (max-width: 500px) {
  .small-screen\:text-\[50px\] {
    font-size: 3.8rem !important;
  }
  .small-screen\:leading-\[50px\] {
    line-height: 30px;
  }
}

@media (max-width: 340px) {
  .small-screen\:text-\[50px\] {
    font-size: 3.2rem !important;
  }
  .small-screen\:leading-\[50px\] {
    line-height: 30px;
  }
}
