/* .about-page,
.eclipse,
.foreground__container,
.eclipse {
  background: url(../../assets/backgrounds/about/eclipse_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.eclipse {
  background: url(../../assets/backgrounds/about/eclipse.png) center;
  opacity: 0;
  z-index: 1;
  transform: opacity 0.5s ease-in-out;
}

.foreground-container {
  background: url(../../assets/backgrounds/about/eclipse_fg.png) center
    no-repeat;
  background-size: cover;
  padding-top: 20vh;
  height: 100vh;
  display: flex;
  flex-direction: center;
  z-index: 2;
  opacity: 0;
  animation: borderaroura 2s infinite;
}

.visible {
  opacity: 1;
  transition: opacity 750ms ease-in;
}

.about-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 30px;
  z-index: 3;
}
.about-title-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 30px;
  opacity: 0;
}

.about-title-container h1 {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
}

.about-title-container h2 {
  font-size: 2rem;
  letter-spacing: 2rem;
  font-weight: 700;
  text-align: center;
}

.about-content-container {
  width: 80%;
  height: 100%;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  border-radius: 30px;
  font-size: 1.3rem;
  transition: background 0.5s ease-in-out;
  text-align: center;
  animation-delay: 0.2s;
  opacity: 0;
}

.textSlideIn {
  opacity: 1;
  animation: textSlideIn 500ms ease-in;
  transition: opacity 750ms ease-in;
}

@keyframes textSlideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.title {
  font-size: 2.3rem;
  font-weight: 700;
  margin: 1rem 0;
}

@media screen and (max-width: 1024px) {
  .foreground-.eclipse {
    background-position: right;
  }
  .about-container {
    width: 90%;
    height: 70%;
    font-size: 1.1rem;
  }
  .about-title-container {
    width: 100%;
    height: 20%;
    padding: 10px;
  }
  .about-content-container {
    width: 100%;
    height: 80%;
    padding: 10px 20px;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 480px) {
  .eclipse {
    background: url(../../assets/backgrounds/about/eclipse_mobile.png) center;
  }
  .foreground-container {
    background: url(../../assets/backgrounds/about/eclipse_fg_mobile.png) center
      no-repeat;
    background-size: cover;
    padding-top: 20vh;
    height: 100vh;
  }
  .about-container {
    width: 100%;
    height: 100%;

    flex-direction: column;
  }
  .about-title-container {
    width: 100%;
    height: 20%;
    padding: 10px;
    align-items: center;
  }
  .about-title-container h1 {
    font-size: 4rem;
  }
  .about-title-container h2 {
    font-size: 2.5rem;
    letter-spacing: 1rem;
    margin-left: 1rem;
    box-sizing: border-box;
  }
  .about-content-container {
    width: 100%;
    height: 80%;
    padding: 10px 20px;
    font-size: 1.1rem;
  }
} */

.about-container {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: fit-content;
}

.abouth1 {
  font-family: "neue";
  font-size: 3.5rem;
  margin-bottom: -60px;
  z-index: 30;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;
}

.circle1 {
  position: absolute;
  bottom: -500px;
  height: 1000px;
  width: auto;
  left: -500px;
  transform: rotate(-200deg);
  animation: rotate 15s linear infinite;
}

.circle2 {
  position: absolute;
  bottom: -400px;
  height: 800px;
  width: auto;
  left: -400px;
  transform: rotate(-180deg);
  animation: rotate 20s linear infinite;
}

.circle3 {
  position: absolute;
  bottom: -200px;
  height: 400px;
  width: auto;
  left: -200px;
  width: auto;
  animation: rotate 25s linear infinite;
}

svg {
  backdrop-filter: blur(10px);
  width: 90%;
  height: 90%;
}

.details-container {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abtp {
  position: absolute;
  width: 60%;
  font-size: 1.5rem;
  text-align: justify;
  z-index: 10;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@media (max-width: 1390px) {
  .abtp {
    font-size: 1.2rem;
  }
}

@media (max-width: 1300px) {
  .details-container {
    width: 100%;
    height: 85%;
  }

  .abtp {
    font-size: 1.3rem;
    width: 80%;
  }
}

@media (max-width: 900px) {
  .circle1 {
    height: 800px;
    width: auto;
    bottom: -400px;
    left: -400px;
  }

  .circle2 {
    height: 600px;
    width: auto;
    bottom: -300px;
    left: -300px;
  }

  .abtp {
    font-size: 1.1rem;
    width: 80%;
  }

  .abouth1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  svg {
    display: none;
  }

  .circle1 {
    height: 600px;
    width: auto;
    bottom: -300px;
    left: -300px;
  }

  .circle2 {
    height: 500px;
    width: auto;
    bottom: -250px;
    left: -250px;
  }
}

@media (max-width: 530px) {
  .circle1 {
    height: 450px;
    width: auto;
    bottom: -225px;
    left: -225px;
  }

  .circle2 {
    height: 300px;
    width: auto;
    bottom: -150px;
    left: -150px;
  }

  .circle3 {
    height: 100px;
    width: auto;
    bottom: -50px;
    left: -50px;
  }
}

@media (max-width: 420px) {
  .circle1 {
    display: none;
  }

  .abtp {
    font-size: 0.9rem;
    width: 80%;
  }
}

@media (max-height: 550px) {
  .abtp {
    font-size: 1rem;
  }
}
