.faq-container {
  border: 2px solid #8a2be2af;
  border-bottom: none;
  border-right: none;
  margin-bottom: 20px;
  background: #3433335a;
  cursor: pointer;
  transition: all 0.2s ease;
  
}

.faq-container:hover {
  border-color: #7b68ee;
}

.faq-question {
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.faq-answer {
  font-size: 1.2em;
  overflow: hidden;
  transition: all 0.2s ease;
}

.faq-icon {
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.faq-icon-up {
  transform: rotate(180deg);
}

.faq-icon-down {
  transform: rotate(0deg);
}
