@font-face{
    font-family: 'neue';
    src: url(../../assets/fonts/BaseNeue/BaseNeue-Black.woff);
}

.titleh2{
    font-family: 'neue';
}

.swiper-button-next{
    position: absolute;
    color: #fff;
    height: 50px;
    width: 50px;
    background-image: url(../../assets/WhyParticipate/arrow.png);
    cursor: pointer;
    z-index: 10;
    display: flex;
    top: 50%;
    right: -10px;
    transition: 0.4s ease-in-out;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    scale: 1.1;
}

.cardcontainer1{
    border: 5px solid #fff;
}

/* .cardcontainer1:hover{
    scale: 1.02
    } */
    
.swiper-button-prev{
        position: absolute;
        color: #fff;
        height: 50px;
        width: 50px;
        background-image: url(../../assets/WhyParticipate/arrow.png);
        transform: rotate(180deg);
        cursor: pointer;
        z-index: 10;
        display: flex;
        top: 50%;
        left: -10px;
        transition: 0.4s ease-in-out;
}

.cardbgdiv{
    width: fit-content;
    padding: 0;
    margin: 0;
}



/* .cardcontainer1{
    box-shadow: 0px 0px 20px #ffffff4d;
} */

.main-container{
    /* background-image: url(../../assets/WhyParticipate/bg2.jpg); */
    /* background-image: linear-gradient(130deg, #1515924d, #1109254d); */
    background-image: url(../../assets/WhyParticipate/bgimg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.cardcontainer1{
    box-shadow: 20px 0px 50px #0000002a,
                -20px 0 50px #0000002a;
    /* animation: bright-dim-border 5s infinite; */
    backdrop-filter: blur(10px);
}

/* @keyframes bright-dim-border {
    0% {
      border: 0.1px solid rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
    }
    50% {
      border: 0.2px solid rgba(255, 255, 255, 1);
      box-shadow: 0 0 3px rgba(255, 255, 255, 1);
    }
    100% {
      border: 0.1px solid rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
    }
} */


@media (max-width: 768px) {
    .swiper-button-next,
    .swiper-button-prev{
        height: 30px;
        width: 30px;
        background-size: contain;
    }

    .cardcontainer1{
        width: 90%;
        height: 500px;
    }
}