.card-container {
  height: 350px;
  width: 300px;
  background: rgba(26, 26, 43, 0.37);
  /* box-shadow: 0 8px 32px 0 rgba(51, 56, 133, 0.459); */
  /* backdrop-filter: blur(10.5px); */
  /* -webkit-backdrop-filter: blur(10.5px); */
  backdrop-filter: blur(10.5px);
  /* border: 1.5px solid #ffffffc7; */
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-in-out;
  border-radius: 3rem;
}

.card-container img {
  border-radius: 3rem;
}

.card-container:hover {
  /* scale: 1.01; */ /*Scaling blurs the image a little*/
}

.logoimg {
  height: 170px;
  width: 170px;
  overflow: visible;
  background-size: cover;
  clip-path: circle(50%);
  image-rendering: crisp-edges;
}

.logowrapper {
  margin-top: 20px;

  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.text-field {
  margin: 0;
  border-radius: 3rem;
  background: linear-gradient(
      320deg,
      rgb(113, 94, 87) 0%,
      rgba(48, 0, 2, 1) 0%,
      rgba(255, 255, 255, 0) 30%
    ),
    linear-gradient(
      40deg,
      rgb(113, 94, 87) 0%,
      rgba(48, 0, 2, 1) 0%,
      rgba(255, 255, 255, 0) 50%
    );
  /* -webkit-mask: linear-gradient(
      320deg,
      rgb(113, 94, 87) 0%,
      rgba(249, 208, 191, 1) 0%,
      rgba(255, 255, 255, 0) 52%
    ),
    linear-gradient(
      40deg,
      rgb(113, 94, 87) 0%,
      rgba(48, 0, 2, 1) 0%,
      rgba(255, 255, 255, 0) 50%
    ); */
  /* backdrop-filter: blur(10.5px); */
  color: white;
}

.text-field h2 {
  font-size: 26px;
}
.text-field-inner {
  position: absolute;
}

.text-field p {
  opacity: 0.7;
}

.socials {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  width: 70%;
  font-size: 25px;
}

.socials a {
  color: #ffffff;
  padding-right: 20px;
}

.socials a:hover {
  text-decoration: none;
}
.social-linkedin {
  scale: 1.05;
}
.social-phone {
  scale: 0.85;
}
.social-mail {
  scale: 0.9;
}
.social-linkedin:hover {
  scale: 1.15;
}
.social-phone:hover {
  scale: 0.9;
}
.social-mail:hover {
  scale: 0.95;
}

/* .card-container:hover .logowrapper {
  box-shadow: 0px 0px 20px #ffffff3e;
} */
