@font-face{
  font-family: 'neue';
  src: url(../../assets/fonts/BaseNeue/BaseNeue-Black.woff);
}
.partners-section {
  background: linear-gradient(
    to bottom left,
    rgb(50, 21, 28),
    rgb(45, 12, 20),
    rgb(44, 0, 10),
    transparent 45%
  );
  background-color: black;
  min-height: 100vh;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: white;
  text-align: center;
}
.styled-partner {
  background-color: white; /* Set background to white */
  border-radius: 12px; /* Add border-radius */
  padding: 20px; /* Add some padding */
  width: 250px; /* Consistent width */
  height: 115px; /* Consistent height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for better aesthetics */
  margin: 10px auto; /* Center align and add spacing */
}

.partner-logo {
  object-fit: contain;
}

.partners-title {
  font-family: 'neue'; /* Updated Typography */
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  padding-top: 50px;
  margin-bottom: 50px;
  color: #FFFFFF;/* Primary Color */
}

.partners-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px 0;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.partners-row.visible {
  opacity: 1;
  transform: translateY(0);
}

.partner {
  padding: 10px;
  text-align: center;
  color: white;
 
}


.partner-label {
  margin-top: 15px;
  font-size: 21px;
}

@media screen and (max-width: 900px) {
  .partners-title {
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  .partner-label {
    font-size: 1.5rem;
  }
}
